@import '@/styles/animation.scss';

.promo {
  padding: 70px 0;
  &Title {
    font-size: 69px;
    color: var(--white-color);
    text-shadow: -2px -2px 0 var(--black-color),
    2px -2px 0 var(--black-color),
    -2px 2px 0 var(--black-color),
    2px 2px 0 var(--black-color),
    4px 4px 0 var(--black-color); /* Настоящая тень */
  }

  &Wrapper {
    display: grid;
    grid-template-columns: auto 570px;
    gap: 60px;
    align-items: center;
  }

  &ImageWrapper {
    width: 570px;
    height: 370px;
    position: relative;

    canvas {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &Decor {
    position: absolute;
    transition: 0s all;

    &:nth-child(1) {
      height: 88px;
      width: 88px;
      left: 245px;
      top: -30px;
      transition: none;

      // background-image: url('/ethereum-01.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      animation: promo-decor-1 2s infinite;
    }

    &:nth-child(2) {
      height: 107px;
      width: 107px;
      left: -35px;
      bottom: -55px;
      top: auto;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      animation: promo-decor-2 1.5s infinite;
    }

    &:nth-child(3) {
      height: 47px;
      width: 47px;
      left: auto;
      right: 5px;
      top: auto;
      bottom: -95px;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      animation: promo-decor-3 1.5s infinite;
    }
  }

  &Descr {
    margin-top: var(--mt-30);
    line-height: 30px;
    width: 90%;
    font-size: 19px;
  }

  &Button {
    margin-top: var(--mt-45);
  }
}

@media (max-width: 1200px) {
  .promo {
    &Title {
      font-size: 60px;
    }
    &Wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    &ImageWrapper {
      width: 100%;
      height: auto;
    }

    &Decor {
      position: absolute;
      transition: 0s all;

      &:nth-child(1) {
        height: 88px;
        width: 88px;
        left: 216px;
        top: -71px;
      }
    }
  }
}

@media (max-width: 992px) {
  .promo {
    &Title {
      font-size: 64px;
    }
    &Wrapper {
      grid-template-columns: 100%;
    }

    &ImageWrapper {
      width: 100%;
      height: auto;
    }

    &Decor {
      position: absolute;
      transition: 0s all;

      &:nth-child(1) {
        height: 88px;
        width: 88px;
        left: 516px;
        top: -110px;
      }
    }
  }
}


@media (max-width: 992px) {
  .promo {
    padding: 40px 0;
    &Title {
      font-size: 50px;
    }

    &Decor {
      position: absolute;
      transition: 0s all;

      &:nth-child(1) {
        height: 88px;
        width: 88px;
        left: 416px;
        top: -110px;
      }
    }
  }
}

@media (max-width: 576px) {
  .promo {
    // padding: 25px 0;

    &Title {
      font-size: 10vw;
      line-height: 2.5rem;
    }

    &Decor {
      scale: .7;

      &:nth-child(1) {
        height: 88px;
        width: 88px;
        left: 282px;
        top: -51px;
      }
    }
  }
}
