.postGrid {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 60px;

  div {
    &:first-child {
      grid-column: 1 / 4;
    }
  }
}

@media (max-width: 992px) {
  .postGrid {
    grid-template-columns: repeat(2, 1fr);

    div {
      &:first-child {
        grid-column: 1 / 3;
      }
    }
  }
}

@media (max-width: 768px) {
  .postGrid {
    grid-template-columns: 100%;

    div {
      &:first-child {
        grid-column: 1;
      }
    }
  }
}

@media (max-width: 576px) {
  .postGrid {
    padding-top: 30px;
    row-gap: 40px;
  }
}
