.post {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 40px;

  &:hover {
    .postTitle {
      text-decoration: underline;
    }
  }

  &Img {
    // width: 100%;
  }

  &ImgWrapper{
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;

    div {
      width: 100%;
    }
  }

  &Info {
    font-size: 14px;
    color: var(--text-color-gray);
  }

  &Category {
    color: var(--purple-color);
  }

  &Title {
    margin-top: 20px;
    transition: var(--transition);

  }

  &Text {
    //font-size: 16px;
    color: var(--text-color-gray);
    margin-top: 18px;
    font-size: var(--fz-16);
  }

  &Button {
    margin-top: 30px;
    display: inline-block;
    width: fit-content;
  }

  &Inner {
    padding: 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .post {
    &:hover {
      .postTitle {
        text-decoration: none;
      }
    }

    &Inner {
      margin-top: 20px;
    }

    &Title {
      margin-top: 12px;
    }

    &Img {
      padding-bottom: 50%;
    }
  }
}
